.CourseList {
  width: 100%;
  border-collapse: collapse;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #deb5b545;
  border: 1px solid #ddd;
  padding: 10px;
}

td {
  border: 1px solid #ddd;
  padding: 10px;
}